<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <!-- class="collapse navbar-collapse" -->
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['./']">Inicio</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" [routerLink]="['./animals/add']">Agregar animal</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" [routerLink]="['./users/add']">Agregar usuario</a>
      </li>
    </ul>
  </div>
</nav>